<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor
          patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
          type="Sitecore.Foundation.Extension.MediaType.Pipeline.GetImageFieldValue, Sitecore.Foundation.Extension.MediaType" />
      </renderField>
    </pipelines>
    <mediaLibrary>
      <mediaType name="SVG" extensions="svg">
        <mimeType>image/svg+xml</mimeType>
        <forceDownload>false</forceDownload>
        <sharedTemplate>system/media/unversioned/image</sharedTemplate>
        <versionedTemplate>system/media/versioned/image</versionedTemplate>
        <mediaValidator type="Sitecore.Resources.Media.ImageValidator" />
        <thumbnails>
          <generator type="Sitecore.Resources.Media.ImageThumbnailGenerator, Sitecore.Kernel">
            <extension>png</extension>
          </generator>
          <width>150</width>
          <height>150</height>
          <backgroundColor>#FFFFFF</backgroundColor>
        </thumbnails>
      </mediaType>
    </mediaLibrary>
  </sitecore>
</configuration>
